* {
  margin: 0;
  padding: 0;
}

.grid {
  height: 390px;
  width: 390px;
  margin: 28vh auto;
  background-color: rgba(0, 0, 0, 0.51);
}

.game-btn {
  border: 1px solid #fff;
  float: left;
  text-align: center;
  color: rgb(92, 0, 0);
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.gamePlay {
  background: rgba(0, 0, 0, 0.4);
  display: block;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}
.gamePlay > .btn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  z-index: 2;
  box-shadow: 1px 5px 15px 1px #000;
}

.win {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 20;
  display: none;
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
